<% include ../includes/start.ejs %>
<div class="container">
  <div class="header">Night Owl</div>
  <div class="subheader">
    Sign up now for continued on demand tutoring<br>
    right at your finger tips!
  </div>
  <form class="form">
    <input class="input" type="tel" placeholder="Phone Number" value="Phone: <%= phone %>" disabled/>
    <input class="input card" type="tel" placeholder="Card Number" required step="1" autofocus/>
    <input class="input expiration" type="tel" placeholder="Card Expiration (MM/YY)" required step="2"/>
    <input class="input cvc" type="tel" placeholder="Card CVC (XXXX)" required step="3"/>
    <div class="hint">
      We will never see your credit card information,<br>
      only our payment processor <strong>Stripe</strong> will.
    </div>
    <input class="submit" type="submit" value="Add Card" />
  </form>
  <div class="stripe">
    <img src="/images/stripe.png"/>
  </div>
</div>
<% include ../includes/end.ejs %>
