<% include ../includes/start.ejs %>
<div class="container">
  <div class="header">Night Owl</div>
  <div class="message">
    Your credit card has been confirmed, our grad students are working on your question now!
  </div>
</div>
<% include ../includes/end.ejs %>
