<% include ../includes/start.ejs %>
<div class="header">Night Owl</div>
<div class="message">
  You card has been successfully added!
  You may close this window at any time.
</div>
<% include ../includes/end.ejs %>
