<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="sidebar">
  <input class="search" type="text" placeholder="Search for user..." />
  <div class="users">
    <div class="user active">
      <div class="name">Brian Vallelunga</div>
      <div class="message">
        <span class="from">You:</span>
        <span class="text">This is some super amazing crazy stuff</span>
      </div>
    </div>
    <div class="user">
      <div class="name">Brian Vallelunga</div>
      <div class="message">
        <span class="from">You:</span>
        <span class="text">This is some super amazing crazy stuff</span>
      </div>
    </div>
    <div class="user">
      <div class="name">Brian Vallelunga</div>
      <div class="message">
        <span class="from">You:</span>
        <span class="text">This is some super amazing crazy stuff</span>
      </div>
    </div>
  </div>
</div>
<div class="rooms"></div>
<% include ../includes/end.ejs %>
