<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="sidebar">
  <input class="search" type="text" placeholder="Search for user..." />
  <div class="users">
    <div class="user active">
      <div class="name">Brian Vallelunga</div>
      <div class="message">
        <span class="from">You:</span>
        <span class="text">This is some super amazing crazy stuff</span>
      </div>
    </div>
    <div class="user">
      <div class="name">Brian Vallelunga</div>
      <div class="message">
        <span class="from">You:</span>
        <span class="text">This is some super amazing crazy stuff</span>
      </div>
    </div>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="header">
      <div class="name">Brian Vallelunga</div>
      <input class="search" type="text" placeholder="Search messages..." />
      <div class="clear"></div>
    </div>
    <div class="messages">
      <div class="container">
aasdfasdfasdfasdf
      </div>
    </div>
    <div class="bottom">
      <input class="messenger" type="text" placeholder="Message our user..." />
    </div>
  </div>
</div>
<% include ../includes/end.ejs %>
