<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="sidebar">
  <form class="roomForm">
    <input class="roomInput" type="text" placeholder="ryuWb9GymW" />
  </form>
  <div class="users"></div>
</div>
<div class="rooms"></div>
<% include ../includes/end.ejs %>
