html, body {
  background: #FEE033;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 200px;
  float: left;
  border-right: solid 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: margin .2s;
  -moz-transition: margin .2s;
  -o-transition: margin .2s;
  transition: margin .2s;
}

.sidebar .roomInput {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 15px 10px 44px;
  outline: none;
  border: none;
  border-bottom: solid 0px #D8BE2B;
  font-size: 15px;
  font-weight: bold;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-image: url("/images/user.png");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  -webkit-appearance: none;

  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);

  margin: 10px 10px 20px 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.sidebar .user {
  position: relative;
  padding: 10px 15px 7px 15px;
  font-size: 14px;
  border: solid 1px transparent;
  cursor: pointer;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0px 10px 10px 0px;

  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.sidebar .user:hover {
  background: rgba(255, 255, 255, 0.4);
}

.sidebar .user:hover:active {
  background: rgba(255, 255, 255, 0.6);
}

.sidebar .user.active {
  background: rgba(255, 255, 255, 1);

  -webkit-box-shadow: 1px 1.5px 0px #E0C318;
  -moz-box-shadow: 1px 1.5px 0px #E0C318;
  box-shadow: 1px 1.5px 0px #E0C318;
}

.sidebar .user .name {
  font-weight: bold;
  margin-bottom: 5px;

  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sidebar .user.active .name {
  color: #1D9191;
}

.sidebar .user .message {
  color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  overflow: hidden;
  display: none;

  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sidebar .user .message .from {
  font-weight: bold;
}

.sidebar .user .dot {
  position: absolute;
  right: 10px;
  width: 12px;
  height: 12px;
  background: #1D9191;

  top: -moz-calc(50% - 6px);
  top: -webkit-calc(50% - 6px);
  top: -o-calc(50% - 6px);
  top: calc(50% - 6px);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.rooms {
  background: #fff;
  float: right;
  display: none;

  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: -o-calc(100% - 200px);
  width: calc(100% - 200px);

  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s;
}

.rooms .room {
  position: relative;
  width: 100%;
  height: 100%;
}

.rooms .room .header {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rooms .room .header .name {
  font-weight: bold;
  font-size: 22px;
  color: #444;
  float: left;
}

.rooms .room .header .loading {
  float: left;
  margin-left: 10px;
  color: #888;
  font-size: 22px;
  display: none;
}

.rooms .room .header .search {
  width: 30%;
  min-width: 225px;
  background: #fff;
  padding: 6px 6px 6px 35px;
  outline: none;
  border: solid 1px #E2E2E2;
  font-size: 16px;
  float: right;

  background-image: url("/images/search.png");
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;

  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-appearance: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -webkit-transition: margin .2s;
  -moz-transition: margin .2s;
  -o-transition: margin .2s;
  transition: margin .2s;
}

.rooms .room .header .search:focus {
  border: solid 1px #999;
}

.rooms .room .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rooms .room .bottom .messenger {
  width: 100%;
  border: solid 2px #E0E0E0;
  padding: 10px;
  outline: none;
  font-size: 16px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rooms .room .container {
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rooms .room .container .scroll {
  height: 100%;
  overflow: auto;
}

.rooms .room .container .block,
.rooms .room .container .messages {
  width: 100%;
}

.rooms .room .messages .message {
  margin-top: 25px;
  font-size: 16px;
}

.rooms .room .messages .message:first-child {
  margin-top: 0;
}

.rooms .room .messages .message .top {
  margin-bottom: 10px;
}

.rooms .room .messages .message .name {
  font-weight: bold;
  color: #1D9191;
  display: inline-block;
}

.rooms .room .messages .message .duration {
  margin-left: 5px;
  display: inline-block;
  color: #BABBBF;
  font-size: 14px;
  text-transform: lowercase;
}

.rooms .room .messages .message.connected {
  margin-top: 15px;
}

.rooms .room .messages .message.connected .top {
  display: none;
}

.rooms .room .messages .message.support .name {
  color: #000;
}

@media (max-width: 600px) {
  body:not(.openSidebar) .sidebar {
    margin-left: -200px !important;
  }

  body:not(.openSidebar) .rooms {
    width: 100% !important;
  }

  body.openSidebar .rooms .search {
    margin-right: -150% !important;
  }

  .rooms .loading {
    display: none !important;
  }

  .rooms .search {
    min-width: 160px !important;
    font-size: 14px !important;
  }
}
