body {
  background: #FEE033;
}

.loading {
  width: 100%;
  text-align: center;
  color: #000;
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.guidelines {
	position: fixed;
	z-index: 5;
	top: 100px;
	left: 15px;
	width: 300px;
	background: #fff;
	overflow: hidden;
	margin-bottom: 15px;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.guidelines .header {
	font-size: 16px;
	background: #F7F7F7;
	color: #636363;
	padding: 10px 0;
	margin: 0;
	border-bottom: solid 1px #ededed;
	text-shadow: none;
	text-align: center;
	font-weight: bold;
}

.guidelines .guides {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	padding-right: 15px;
	margin-left: -10px;
}

.guidelines .guides li {
	margin-bottom: 8px;
	color: #666;
}

.guidelines .guides li a {
	color: #188EC8;
	text-decoration: none;
}

.guidelines .guides li a:hover {
  text-decoration: underline;
}

.questions {
  width: 550px;
  margin: 20px auto;
}

.questions .question {
  margin-bottom: 25px;
  background: #fff;
  overflow: hidden;
  zoom: 1;

  border: solid 2px #dcc024;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.questions .question:last-child {
  margin-bottom: 0;
}

.questions .question .information .name {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  float: left;
  width: 69%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.questions .question .information .subject {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  padding: 20px;
  float: right;
  color: #666;
  width: 30%;
  text-align: right;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.questions .question .information .image {
  width: 100%;
  padding: 10px;
  background: #000;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.questions .question .information .image img {
  width: 100%;
}

.questions .question .bottom {
  padding: 15px;
}

.questions .question .time {
  float: left;
  color: #666;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.questions .question .actions {
  float: right;
}

.button {
  display: inline-block;
  margin-left: 15px;
  padding: 8px 10px;
  text-align: center;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  opacity: 0.7;
  cursor: pointer;
  outline: none;
  min-width: 70px;
  text-decoration: none;
  position: relative;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: opacity .2s ease 0;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease 0;
  transition: opacity .2s ease 0;

  -webkit-appearance: none;
}

.button:first-child {
  margin: 0;
}

.button:hover {
  opacity: 0.85;
}

.button:hover:active {
  opacity: 1;
}

.button.chat {
  background: #0175FF;
}

.button.good {
  background: #4862A3;
}

.button.bad {
  background: #E21221;
}

.button.delete {
  background: #8d0811;
}

.questions .question .actions input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.flagModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.flagModal .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.flagModal .modal {
  width: 400px;
  margin: 200px auto 20px;
  background: white;
  padding: 20px;
  position: relative;
  z-index: 1;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.flagModal .modal .title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ededed;
}

.flagModal .modal .buttons {
  text-align: center;
}

.flagModal .modal .button {
  margin-bottom: 15px;
  min-width: 140px;
}

.flagModal .modal .button:first-child {
  margin: 0 0 15px 15px;
}

@media (max-width: 1100px) {
  .questions {
    padding-left: 260px;
  }
}

@media (max-width: 950px) {
  .guidelines {
    display: none;
  }

  padding: 0px;
}

@media (max-width: 600px) {
  .guidelines {
    display: none;
  }

  .questions {
	  width: 100% !important;
    padding: 20px !important;
    margin: 0 auto !important;

    -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
  }

  .button {
    font-weight: bold;
    font-size: 16px;
    min-width: 60px !important;
  }

  .flagModal .modal {
    width: 80%;
    margin-top: 150px;
  }

  .flagModal br {
    display: none;
  }

  .flagModal .button {
    display: block !important;
    margin: 0 0 10px 0 !important;
  }

  .flagModal .button:last-child {
    margin: 0;
  }

  .questions .question .time {
    float: none !important;
    width: 100% !important;
    margin: -15px -15px 15px -15px !important;
    padding: 15px 15px 15px 15px !important;
    border-bottom: solid 1px #ccc;
    background: #f7f7f7;
  }

  .questions .question .actions {
    float: none !important;
    width: 100% !important;
    text-align: center;
  }
}
