body {
  background: #FEE033;
}

body input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  width: 100%;
  text-align: center;
  padding: 20px 20px 0;
  color: #000;
  font-size: 42px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;

  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.message {
  width: 100%;
  text-align: center;
  padding: 20px 20px 0;
  margin-top: 80px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;

  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form {
  padding: 20px;
}

.form .input {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #666;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  outline: none;
  border: none;

  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.form .input:focus {
  background: #fff;
}

.form .button {
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 14px 0;
  background: #009688;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.4);

  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

  -moz-box-shadow: inset 0 1px  0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: inset 0 1px  0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px  0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px  0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);

  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.form .button:active {
  background: #007165;
}

.form .button.error {
  background: #D32F2F;
}
