<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="loading"></div>
<div class="questions"></div>
<div class="flagModal">
  <div class="background"></div>
  <div class="modal">
    <div class="title">Flag For Which Reason</div>
    <div class="buttons">
      <a class="button bad blurry" href="#">Blurry/Unreadable</a>
      <a class="button bad many" href="#">Too Many Questions</a>
      <a class="button delete" href="#">Not Math Question</a>
    </div>
  </div>
</div>
<% include ../includes/end.ejs %>
