<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="loading"></div>
<div class="questions"></div>
<div class="flagModal">
  <div class="background"></div>
  <div class="modal">
    <div class="title">Flag For Which Reason</div>
    <div class="buttons">
      <a class="button bad blurry" href="#">Blurry/Unreadable</a>
      <a class="button bad many" href="#">Too Many Questions</a>
      <br>
      <a class="button chat" href="#">Ask User</a>
      <a class="button delete" href="#">Not Math Question</a>
    </div>
  </div>
</div>
<div class="guidelines">
	<div class="header">Guidelines</div>
	<ul class="guides">
  	<li><strong>Flag as a last resort,</strong> talk to the user first via the "Open Chat"</li>
  	<li><strong>Make sure to read the user description</strong> before flagging</li>
  	<li>Flagged questions are not paid</li>
  	<li>Contact us via Slack to ask for payout</li>
  	<li><strong>Install the Slack app</strong> on your computer or phone to receive instant question notifications</li>
  	<li>Unclaim a question if you are not comfortable answering it</li>
	</ul>
</div>
<% include ../includes/end.ejs %>
