<% include ../includes/start.ejs %>
<div class="header">
  <img class="logo" src="/images/logo.png"/>
  <div class="navigation">
    <a class="link" href="/account">Account ($5)</a>
    <a class="link" href="/logout">Sign Out</a>
  </div>
  <div class="clear"></div>
</div>
<div class="loading">loading questions...</div>
<div class="questions">
  <div class="question">
    <div class="information">
      <div class="name">Problem 3 please....</div>
      <div class="subject">Vector Calculus</div>
      <div class="clear"></div>
      <div class="image">
        <img src="http://files.parsetfss.com/47a32357-f7dc-492f-9e84-eab9f17ef7bd/tfss-4b2d5211-bade-4bed-b070-aaf27baedec9-image.png"/>
      </div>
    </div>
    <div class="bottom">
      <div class="time">10 minutes ago...</div>
      <div class="actions">
        <input class="claim button" type="button" value="CLAIM">
        <input class="flag button" type="button" value="FLAG">
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<% include ../includes/end.ejs %>
