<% include ../includes/start.ejs %>
<% if(promo) { %>
  <div class="banner">
    Use promo <strong><%= promo %></strong> for free questions!
  </div>
<% } %>
<div class="container">
  <div class="information">
    <div class="header">Night Owl</div>
    <div class="subheader">Math problems? We’re here to help.</div>
    <div class="description">
      Snap a photo of your homework questions and we’ll solve it for you. Get the steps and the answer right from your phone, both iOS and SMS!
    </div>
    <form class="form" action="/phone">
      <input name="_csrf" type="hidden" value="<%= csrf %>"/>
      <input name="phone" class="input phone" type="tel" placeholder="Your digits ### ### ####" required step="1" autofocus/>
      <input class="submit" type="submit" value="Get Free Solutions!" />
      <div class="contact">We just sent a message to your phone!</div>
    </form>
  </div>
  <img class="image" src="/images/home.png"/>
  <div class="clear"></div>
  <a target="_blank" href="/d" class="appStore">
    <img src="/images/appStore.png"/>
  </a>
</div>
<canvas id="canvas"></canvas>
<% include ../includes/end.ejs %>
