<% include ../includes/start.ejs %>
<div class="container welcome">
  <img class="logo" src="/images/logo.png"/>
  <div class="header">
    Your tutor has been activated!<br>
    A Slack invite has been sent out.
  </div>
</div>
<% include ../includes/end.ejs %>
