<% include ../includes/start.ejs %>
<div class="container welcome">
  <div class="header">
    Welcome to Night Owl!<br>
    In 2-3 business days we will contact you to schedule an interview
    for a tutor position!
  </div>
</div>
<% include ../includes/end.ejs %>
