<% include ../includes/start.ejs %>
<div class="container welcome">
  <img class="logo" src="/images/logo.png"/>
  <div class="header">
    Welcome to Night Owl!<br>
    In 2-3 business days we will contact you to schedule an interview
    for a tutoring position!
  </div>
</div>
<% include ../includes/end.ejs %>
