<% include ../includes/start.ejs %>
<div class="container welcome">
  <img class="logo" src="/images/logo.png"/>
  <div class="header">
    Welcome to Night Owl<br>
    We will contact you to setup your account soon!
  </div>
</div>
<% include ../includes/end.ejs %>
