<div class="header">
  <img class="logo" src="/images/logo.png"/>
  <div class="navigation">
    <a class="link" href="/chat">Chat Room</a>
    <a class="link" href="/account">Account ($<%= tutor.earned.toFixed(2) %>)</a>
    <a class="link" href="/logout">Sign Out</a>
  </div>
  <div class="clear"></div>
</div>
